<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bespokken.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F0C6D0EC1BC9402F00CB4F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C6D1031BC9403000CB4F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0C6D10E1BC9403000CB4F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
